body{
	background-color:#0a204a;
	color:#ffffff;
}

hr{
	margin-top:-5px;
}
div#menu{
	background-color:#0a204a;
	/*background-image:url(./menu.png);*/
}

table#menu{
	background-image:url(menu.png);
}
td,tr{
	vertical-align:middle;
}
a{
	color:#ffffff;
	text-decoration:none;
}
a:hover{
	color:#95C500;
}
#finish{
	background-color: FF0000;
	display:none;
}