/* trips.php */
.trips {
	font-family: Verdana;
	padding-top: 50px;
	padding-left: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 50%;
 	background: url(../images/page-content-bg.png) repeat;
 	border-radius: 20px;
}

.trips_table_row {
	margin-right: 7px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.trips_table_link_click {
	background-color: #95C500;
	cursor: pointer;
}

.trips_table_link {
	background-color: #95C500;
	cursor:pointer;
}

.trips_table_nolink {
    background-color: #0A204A;
}

#trip_list {
	width: 90%;
}

.trips_table_header {
	border-bottom: 1px solid #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
	
}

#trips_table {
	margin-bottom: 50px;
	border: 1px solid #FFFFFF;
	background-color: #31569D;
	border-spacing: 0px;
}

.titles {
	font-size: larger;
	font-family: Arial;
	padding-top: 1px;
	padding-left: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 10%;
}

#trips_boatname {
	font-size: smaller;
}